.web-section {
  font-family: "Helvetica";
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #fcf3e3;
  overflow: hidden;

  .back {
    position: fixed;
    right: 60px;
    top: 120px;
    z-index: 100;
  }

  h3 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 300;
    color: #1563ff;
    margin: 80px 0 0;
  }

  .laptop-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px;
    position: relative;

    .laptop {
      position: relative;
      z-index: 1;
    }

    .website {
      cursor: pointer;
      position: absolute;
      z-index: 2;
    }
  }

  .moving-text-container {
    padding: 0;
    width: 100%;
  }

  .slider-container {
    margin: 40px 0;
    width: 80%;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
