.home-wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #000;

  .loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;

    .monogram-1 {
      position: absolute;
      width: 200px;
      height: 200px;
    }

    .monogram-2 {
      position: absolute;
      width: 400px;
      height: 400px;
    }
  }

  .video-container {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    

    .landing-video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .next-video {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .logo-show {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .extra-text {
      position: absolute;
      top: 15%;
      margin: 0 auto;
      width: 100%;
      text-align: center;

      h2 {
        font-weight: 400;
        font-size: 40px;
        margin: 0 auto;
        max-width: 1000px;
        margin-bottom: 30px;
      }

      p {
        font-size: 25px;
        margin: 0 auto;
        max-width: 500px;
      }
    }
  }
}
