.back-button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: 1px solid #1563ff;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 700;
  transition: all 0.3s ease;

  &:hover {
    background-color: white;
    color: black;
    font-style: italic;
    transform: skew(-15deg);
  }
}
