@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");

@font-face {
  font-family: "Chloe";
  src: url("./assets/fonts/Chloe-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Gatwick";
  src: url("./assets/fonts/PPGatwick-Ultralight.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #121212;
}

ol,
ul {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
